# R / RStudio
.Rproj.user/
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Data (DO NOT UPLOAD)
data/
GDCdata/

# Large R objects
*.rds
*.Rds
*.RDS

# Temporary
*.log
*.tmpresults/DE_genes_LUSC.csv results/ensembl_to_entrez_mapping.csv results/GO_enrichment.csv results/go_enrichment_BP.csv results/qc_library_sizes.csv results/qc_outlier_ranking.csv
